@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&display=swap");
@import "../styles/globals.css";

@layer base {
  :root {
    @apply min-h-screen;
  }

  body {
    @apply min-w-[320px] min-h-screen relative m-0;
    font-family: "Fira Code", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace !important;
  }

  #root {
    @apply min-h-screen;
  }
}

*, *::before, *::after {
  font-family: "Fira Code", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace !important;
}

@media (prefers-reduced-motion) {
  *,
  ::before,
  ::after {
    animation: none !important;
  }
}
